@import "../../mixins";
@import "../../variables";

header {
  @include display-flex();
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #E7E7E7;
  height: $input_height;
  line-height: $input_height;

  label {
    @include display-flex();
    justify-content: center;
    color: $input_color;
    width: 50px;
    font-size: 24px;
    cursor: pointer;

    &.empty {
      visibility: hidden;
    }
  }
  input {
    @include display-flex();
    flex: 1;
    font-size: 1.2em;
    color: $item_color;
    @include placeholder-color($input_color);
    &, &:focus {
      border: none;
      outline: 0;
    }
  }
}
