<section>
  <todo-input
    [placeholder]="placeholder"
    [isEmpty]="empty()"
    [isAllChecked]="isAllChecked"
    (toggleAllTodos)="toggleAllTodos($event)"
    (submitTodo)="addTodo($event)"></todo-input>
  <todo-list [todos]="todos | filter: filterType"
    (removeTodo)="removeTodo($event)"
    (toggle)="toggleTodo($event)"></todo-list>
  <todo-footer
    *ngIf="!empty()"
    [size]="activeSize"
    [hasCompletedItem]="hasCompletedItem"
    (changeFilterType)="changeFilterType($event)"
    (clearCompleted)="clearCompleted()"></todo-footer>
</section>
