@import "../../../mixins";
@import "../../../variables";

footer {
  font-size: 13px;
  color: #858585;
  background-color: #FFFFFF;
  > nav {
    @include display-flex();
    flex: 1;
    max-width: $app_width - 40px;
    margin: 0 auto;
    text-align: center;

    * {
      line-height: $footer_height;
    }

    @include screen_between(0, 360px) {
      @include flex-direction(column);
      > a.clear_complete {
        order: 3;
      }
    }
    @include screen_between(360px) {
      @include display-flex();
      justify-content: space-between;
      flex-basis: 95%;
      > div.item_left {
        order: 1;
      }
      > a.clear_complete {
        order: 3;
        &.hidden {
          visibility: hidden;
          opacity: 0;
          z-index: -999;
        }
      }
    }

  }
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2));
}
