/* You can add global styles to this file, and also import other style files */
@import "mixins";
@import "variables";
*, *:before, *:after {
  @include border-box();
}
html, body, app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F5F5F5;
  @include display-flex();
  flex: 1;
  justify-content: center;
}
a {
  cursor: pointer;
  text-decoration: none;
}
